.container {
}

.header {
  display: flex;
  justify-content: space-between;
}
.header-child {
  text-align: center;
  width: 6rem;
}
.row {
  display: flex;
  justify-content: space-around;
}

.row-child {
  text-align: center;
  width: 6rem;
}
